<mat-card class="card">
  <mat-card-title>
    {{data?.titulo}}
    <button class="edit clickable right" matSuffix mat-icon-button aria-label="Editar" (click)="edit()">
      <mat-icon>edit_note</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <markdown [data]="data?.conteudo"></markdown>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="hasPreviousOption()" class="normal clickable left" aria-label="Anterior" (click)="previous()">
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button class="danger clickable center" aria-label="Deletar" (click)="remove()">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="hasNextOption()" class="primary clickable right" aria-label="Próximo" (click)="next()">
      <mat-icon>start</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
