<!-- Toolbar -->
<header class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Kanban Board</span>
  <div class="spacer"></div>
  <!-- <button class="clickable" matSuffix mat-icon-button aria-label="Informações" (click)="exibirDicasMarkdown()">
    <mat-icon>help_outline</mat-icon>
  </button> -->
</header>

<main class="side-by-side">

  <!-- Board -->
  <mat-card class="list todo">
    <mat-card-subtitle>To do</mat-card-subtitle>

    <mat-card-content>
      <div *ngFor="let card of listaTodo; let i = index">
        <app-card [data]="card" *ngIf="card.editavel; else readonly"></app-card>
        <ng-template #readonly>
          <app-card-readonly [data]="card"></app-card-readonly>
        </ng-template>
      </div>
    </mat-card-content>

    <div class="add-card">
      <button class="clickable" matSuffix mat-icon-button aria-label="Adicionar" (click)="addTodo()">
        <mat-icon aria-hidden="false">add</mat-icon>
        Adicionar novo
      </button>
    </div>

  </mat-card>

  <mat-card class="list doing">
    <mat-card-subtitle>Doing</mat-card-subtitle>

    <mat-card-content>
      <div *ngFor="let card of listaDoing; let i = index">
        <app-card [data]="card" *ngIf="card.editavel; else readonly"></app-card>
        <ng-template #readonly>
          <app-card-readonly [data]="card"></app-card-readonly>
        </ng-template>
      </div>
    </mat-card-content>

  </mat-card>


  <mat-card class="list done">
    <mat-card-subtitle>Done</mat-card-subtitle>

    <mat-card-content>
      <div *ngFor="let card of listaDone; let i = index">
        <app-card [data]="card" *ngIf="card.editavel; else readonly"></app-card>
        <ng-template #readonly>
          <app-card-readonly [data]="card"></app-card-readonly>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Footer -->
  <footer>
  </footer>

</main>
