@import url(../card-default.scss);

.card.editable {
  .help {
    position: absolute;
    bottom: 35px;
    right: 1em;
  }

  .help mat-icon {
    vertical-align: middle;
    font-size: 1.5em;
  }

  mat-form-field {
    width: 100%;
  }
}


