@import url(../card-default.scss);

.card.editable {
  textarea {
    min-height: 100px;
  }

  .help {
    position: absolute;
    bottom: 35px;
    right: 1em;
  }

  .help mat-icon {
    vertical-align: middle;
    font-size: 1.5em;
  }

  .help button {
    color: darkgrey;
    font-size: 1.1em;
  }

  mat-form-field {
    width: 100%;
  }
}


