@import url(default.scss);

html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; scroll-padding: 10px; }
main {
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 100%;
  height: 100%;
}
textarea { resize: none !important; }

* {
  scroll-behavior: smooth;
}

// TODO: Opção de código para o tema escuro?

@mixin theme($theme: DarkGray) {
  color: rgba($theme, 0.9);
}

.normal {
  @include theme;
}
.danger {
  @include theme($theme: Red);
}
.primary {
  @include theme($theme: Blue);
}
